*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
}
.container{
	width:100vw;
	height:100vh;
	overflow: hidden;
	background-color: var(--c-black);
	color: var(--c-white);
}
.innercontainer{
	display: flex;
}
.header{
	width: 100vw;
	height: 50px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: var(--c-black-darker);
}
h1{
	text-align: center;
	width: 100%;
	font-weight: 900;
	font-size: 2em;
	line-height: 50px; 
}
.left, .right{
	flex: 1;
}
.left{
	padding: 10px;
}
.left .join{
	background-color: var(--c-black-dark);
	text-align: center;
	box-shadow: var(--s-1);
}
.left .join .rooms{
	max-height: 290px;
	overflow-y: auto;
}
.left .join .threegrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.left .join .threegrid span{
	padding: 20px 10px;
}
.left .join .threegrid:nth-of-type(even){
	background-color: var(--c-green);
	color: var(--c-black);
}
.left .join .roomheads{
	background-color: var(--c-black-darker);
	box-shadow: var(--s-1);
}
.left .create{
	width: 100%;
	padding: 20px;
	font-size: 2em;
	font-weight: 900;
	text-align: center;
	background-color: var(--c-green);
	box-shadow: var(--s-1);
	margin-top: 20px;
	color: var(--c-black);
}